.mainLogin{
    
    height: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00C1AF;
}

.cardLogin{
    background-color: white;
    border-radius: 50px;
    width: 30rem;
    margin-bottom: 3px;

}
.btCadastrar{
    margin-right: 150px;
}
.btGo{
    position: absolute;
    right: 7%;
}
.img{
border-radius: 50px;
}