.card{
    background-color: cadetblue;
    width: 15rem;
    margin-right: 10px;
    margin-top: 10px;
  }

  .card #iconCardC{
    margin-left: 20px;
  }

  .iconCard{
    margin-left: 68px;
    justify-content: right;
  }

.card #cardValor{
    display: flex;
    justify-content: center;
  }

  .container{
    display: grid;
    justify-content: center;
  }
  