.mainCadastrar{
    
    height: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00C1AF;
}

.cardCadastrar{
    background-color: white;
    width: 30rem;
    margin-bottom: 3px;

}
.card-body{
    padding: 1px;
}

#btCancelar{
    margin-right: 150px;
}
#btCadastrar{
    position: absolute;
    right: 7%;
}
.img{
    margin-bottom: 10px;
border-radius: 50px;
}